
<div>
    <h1> Application 's detail </h1>
</div>

<div ng-controller="updateCtrl">
    <p class="success" ng-if="response.status == 200">{{ message }}</p>
    <p class="error" ng-if="response.status != 200">{{ message }}</p>
    <form novalidate class="simple-form">
        <label>Name: <input type="text" ng-model="application.name" /></label><br />
        <label>Study plan: <input type="text" ng-model="application.study_id" /></label><br />
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="update(application)" value="Save" />
    </form>
</div>
